.card{
  width: 22%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin:  3px;
  border-radius: 5px;
}

.card a{
  display: block;
}

.card h5{
  margin: 7px;
}

.card_active {
  background-color: red;
}
.card img {
  height: 300px;
}
button {
  border-radius: 5px;
  border: 2px solid grey;
}
.card_match a{
  color: darkblue;
}
.card__tags__item{
  background-color: #26b999;
  opacity: .9;
  display:block;
  border-radius: 7px;
  padding: 3px;
}
.card__date{
  text-align: right;
  opacity: 0.5;
  display: block;
  margin: 0;
}
.card__description{
  height: 20%;
  padding: 0 10px;
}

.addToFavorites {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

.card__header{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  
}

.card__tags{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card__tags{
  margin: 2px;
}
a{
  text-decoration: none;
  color: black;
  font: 25px bold;
}